# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# Ensure those files are always handled as text and use LF as line ending
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Batch files should use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
